.w-100 {
  width: 100%;
}

.root {
  padding: var(--theme-spacing-3);
  max-width: 400px;
  margin: auto;
  margin-top: var(--theme-spacing-4);
  position: relative;
  text-align: left;
}

.loadingSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  margin-bottom: var(--theme-spacing-2);
  color: var(--theme-palette-primary-main);
}

.detailItem {
  margin-bottom: var(--theme-spacing-1);
}

.updatedOn {
  font-style: italic;
}

.row {
  margin: 15px 10px;
}

.leftMargin {
  margin-left: 10px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.rowContent {
  display: flex;
}

.marginAuto {
  margin: auto;
}
