.chart-wrapper {
  width: 100%;
  display: flex;
}

.chart-wrapper-no-data {
  height: 300px;
  width: 100%;
  display: flex;
}

.pie-chart {
  max-height: 300px;
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 1500px) {
  .chart-wrapper {
    margin: auto;
  }
}
