.chart-wrapper {
  width: 100%;
  display: flex;
}

.line-chart {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1500px) {
  .chart-wrapper {
    margin: auto;
  }
}
